<form action="/weather" method='POST' class= 'form-group m-5'>
  <h1 class="text-left mb-4">City Name:</h1>
  <input type="text" name='cityName' class='form-control mb-4'>
  <input type="submit" value='Submit' class="btn btn-primary w-25">
</form>
<h3 class='m-5'>{{weatherText}}</h3>